@media (min-width: 992px) {
  #nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out,
      padding-bottom 0.3s ease-in-out;


  }

  #logo {
    width: 230px;
  }


}

@media (max-width:645px) {
  #nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    position: relative;
  }

  #logo {
    width: 150px !important;
  }

  #texthero {
    transform: scale(0.5);
  }



  #Home {
    max-width: 150vh;

  }
}

#nav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}


.nav-link:hover {

  color: #ffb400 !important;
}

.nav-link {
  font-size: 18px !important;
  color: #ffb400;
}

.nav-link-color {
  color: #ffb400 !important;
}

#logo {
  width: 230px;
  transition: 0.4s;
}

.custom-card {
  margin-bottom: 20px;
}

.card-group {
  display: flex;
}

.card {
  flex: 1;
  margin: 10px;
}

span {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
}

.navbar-toggler-icon {
  width: 1em !important;
  height: 1em !important;
}

h1 {
  font-size: 45px !important;
}

#demo {
  color: #ffb400;
  font-family: "Poppins", sans-serif;
}



.typed-cursor {
  opacity: 1;
}

.typed-cursor.typed-cursor--blink {
  animation: typedisBlink 0.7s infinite;
  -webkit-animation: typedisBlink 0.7s infinite;
  animation: typedisBlink 0.7s infinite;
}

@keyframes typedisBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedisBlink {
  0% {
    opacity: 1;
  }
}



#about {
  height: 500px;
}

#about .btn {
  background-color: #ffb400;
}

#services {
  height: 600px;
}

#services .card-body {
  height: 130px;
}